<div class="uk-margin uk-width-expand uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">


    <div class="uk-child-width-1-5@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-animation-scale-down">
                <h3 class="uk-card-title"><i style="color:rgb(51, 51, 255)" class="far fa-compass fa-3x"> </i> {{lensw}}</h3>
                <p>Points of interest in the South West.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-animation-scale-down">
                <h3 class="uk-card-title"><i style="color:rgb(182,38,38)" class="far fa-compass fa-3x"> </i> {{lense}}</h3>
                <p>Points of interest in the South East.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-animation-scale-down">
                <h3 class="uk-card-title"><i style="color:rgb(0, 204, 0)" class="far fa-compass fa-3x"> </i> {{lennw}}</h3>
                <p>Points of interest in the North West.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-animation-scale-down">
                <h3 class="uk-card-title"><i style="color:rgb(255, 153, 51)" class="far fa-compass fa-3x"> </i> {{lenne}}</h3>
                <p>Points of interest in the North East.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-animation-scale-down">
                <h3 class="uk-card-title"><i style="color:rgb(255, 255, 0)" class="far fa-user fa-3x"> </i> {{lenuser}}</h3>
                <p>Registered users using the Pointerest Web app.</p>
            </div>
        </div>
    </div>
</div>