<div class="uk-margin uk-width-expand uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">

    <table class="uk-table uk-table-divider uk-table-hover">
        <caption>
            {{title}}
        </caption>
        <thead>
        <th>Poi Name</th>
        <th>Category</th>
        <th>Poi Description</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>User</th>
        <th>Delete</th>
        </thead>
        <tbody class="uk-text-left uk-child-width-1-3">
        {{#each points}}
            <tr>
                <td>{{poiname}}</td>
                <td>{{category}}</td>
                <td>{{description}}</td>
                <td>{{latitude}}</td>
                <td>{{longitude}}</td>
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>
                    <form action="/deletePoi" method="GET">
                        <div class="uk-margin">
                            <input  type="hidden" type="text" name="id" value="{{_id}}">
                            <button class="uk-button uk-width-1-1"><i style="color:rgb(182,38,38)" class="far fa-trash-alt"> </i> </button>
                        </div>
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>